<html>
<head>
	<title>
		Programs
	</title>
	
	<style>
		div {
			border-block: 1px solid black;
		}
	</style>
</head>

<body>
	<h1>ELIDEK</h1>
	<div>
	<form action="/programs" method="post">
		<p>Click here to search programs</p>
		<p><input type="submit" value="Open programs"/></p>
	</form>
	</div>
	
	<div>
	<form action="/criteria" method="post">
		<p>Browse projets with different criteria</p>
		<p><input type="submit" value="Browse projects"/></p>
	</form>
	</div>
	
	<div>
	<form action="/researchers_projects_view" method="post">
		<p>There are many researchers working on different projects</p>
		<p>Click here to view the projects of every researcher</p>
		<p><input type="submit" value="Open projects per researcher"/></p>
	</form>	
	</div>
	
	<div>
	<form action="/projects_fields_view" method="post">
		<p>Our projects lie in a broad range of scientific fields</p>
		<p>Click here to view all the fields</p>
		<p><input type="submit" value="Open projects per field"/></p>
	</form>	
	</div>
	
	<div>
	<form action="/browse_fields" method="post">
		<p>Browse research conducted (researchers and projects) in all research fields</p>
		<p><input type="submit" value="Browse fields"/></p>
	</form>	
	</div>
	
	<div>
	<form action="/same_projects_consecutive_years" method="post">
		<p>Search organisations with the same number of projects in consecutive years (at least 10)</p>
		<p><input type="submit" value="Click here to expand"/></p>
	</form>	
	</div>
	<div>
		<form action="/top_projects" method="post">
			<p>Top interdisciplinary fields</p>
			<p>Click here to view the top pairs of fields</p>
			<p><input type="submit" value="Open top pairs of fields "/></p>
		</form>	
	</div>
	<div>
		<form action="/top_executive" method="post">
			<p>Executives with biggest fundings given to companies</p>
			<p>Click here to view the top company funders</p>
			<p><input type="submit" value="Open top company funders"/></p>
		</form>	
	</div>
	<div>
	<form action="/best_young_researchers" method="post">
		<p>Browse the most active young researchers contributing to the most projects</p>
		<p><input type="submit" value="Best young researchers"/></p>
	</form>	
	</div>
	<div>
		<form action="/top_researchers" method="post">
			<p>Researchers with many no deliverables projects (more than 5)</p>
			<p>Click here to open</p>
			<p><input type="submit" value="No deliverables researchers"/></p>
		</form>
	</div>
</body>

</html>